<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Produto</title>
</head>
<body>
 
<h2>Editar Produto</h2>
  <% data.forEach(function(details) { %>
    <form action="/editproduct/<%= details._id %>" method="POST">
      <input type="text" value="<%= details.name %>" name="name" required="required">
      <br />
      <input type="number" step="0.01" value="<%= details.price %>" name="price" required="required">
      <br />
      <button><a href="/products">Voltar</a></button>
      <button type="submit">Editar</button>
    </form>
  <% }) %>

</body>
</html>